<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arnodenhond.imageshortcut">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/mediashortcut"
        android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar.MinWidth">
        <activity
            android:name=".Info"
            android:noHistory="true"
            android:theme="@android:style/Theme.DeviceDefault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="arnodenhond.imageshortcut.ShareImage"
            android:excludeFromRecents="true"
            android:label="@string/imageshortcut">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="arnodenhond.imageshortcut.AddImage"
            android:excludeFromRecents="true"
            android:label="@string/imageshortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name="arnodenhond.imageshortcut.AddShortcut"
            android:excludeFromRecents="true"
            android:label="Add Shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name="arnodenhond.imageshortcut.ShareVideo"
            android:label="@string/videoshortcut">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="arnodenhond.imageshortcut.AddVideo"
            android:label="@string/videoshortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
    </application>

</manifest>