<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arnodenhond.imageshortcut">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:label="Image Shortcut"
        android:icon="@drawable/mediashortcut"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TitleActivity"
            android:exported="false" />

        <provider
            android:name=".ImageProvider"
            android:authorities="arnodenhond.imageshortcut.images"
            android:grantUriPermissions="true"
            android:exported="true" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>